.panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;

  @include media-breakpoint-down($xs) {
    padding: 10px;
  }

  &__blocks {
    @include font-body;

    display: inline-flex;
    gap: 20px;
    text-align: left;
    border-radius: 2px;

    @include media-breakpoint-down($lg) {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__apply-button {
    padding: 5px;
  }
}
