include ../input-field/input-field.pug
include ../toggle/toggle.pug
include ../radiobuttons/radiobuttons.pug
include ../button/button.pug
include ./main-setup/main-setup.pug
include ./scale-setup/scale-setup.pug
include ./control-movement-setup/control-movement-setup.pug
include ./actions-setup/actions-setup.pug

mixin panel(options = {})
  -
    const elementName = 'panel'
    const {radioGroupName} = options

  div(class = `${elementName} js-${elementName}`)
    div(class =`${elementName}__blocks`)
      +main-setup()
      +scale-setup({radioGroupName})
      +control-movement-setup()
      +actions-setup()
    div(class =`${elementName}__apply-button`)
      +button({text: 'Apply changes'})



