@import "@styles/glob.scss";
.panel {
	padding: 5px;
	display: flex;
	border: 2px solid $colorDarkShade25;
	border-radius: 2px;
	height: 200px;

	@include font-body;
	@include media-breakpoint-down($lg) {
		height: auto;
		display: block;
		padding: 5px 0 0 10px;
	}
	&__mainSetup {
		margin: 5px;
		padding: 5px;
		@include media-breakpoint-down($lg) {
			margin: 0 10px 10px 0;
			padding: 0 0 10px 10px;
		}

		border: 1px solid $colorDarkShade25;
		display: grid;
		grid-template-columns: repeat(4, 110px);
		grid-template-rows: repeat(2, 50px);
		@include media-breakpoint-down($xs) {
			grid-template-columns: repeat(2, 110px);
			grid-template-rows: repeat(4, 50px);
		}
		& > div {
			display: flex;
			align-items: flex-end;
		}
		&-min {
			grid-column-start: 1;
			grid-column-end: 1;
			grid-row-start: 1;
			grid-row-end: 1;
		}
		&-max {
			grid-column-start: 2;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 1;
		}
		&-from {
			grid-column-start: 3;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 1;
			@include media-breakpoint-down($xs) {
				grid-column-start: 1;
				grid-column-end: 1;
				grid-row-start: 2;
				grid-row-end: 2;
			}
		}
		&-to {
			grid-column-start: 4;
			grid-column-end: 4;
			grid-row-start: 1;
			grid-row-end: 1;
			@include media-breakpoint-down($xs) {
				grid-column-start: 2;
				grid-column-end: 2;
				grid-row-start: 2;
				grid-row-end: 2;
			}
		}
		&-vertical {
			grid-column-start: 1;
			grid-column-end: 1;
			grid-row-start: 2;
			grid-row-end: 2;
			@include media-breakpoint-down($xs) {
				grid-row-start: 3;
				grid-row-end: 3;
			}
		}
		&-range {
			grid-column-start: 2;
			grid-column-end: 2;
			grid-row-start: 2;
			grid-row-end: 2;
			@include media-breakpoint-down($xs) {
				grid-row-start: 3;
				grid-row-end: 3;
			}
		}
		&-bar {
			grid-column-start: 3;
			grid-column-end: 3;
			grid-row-start: 2;
			grid-row-end: 2;
			@include media-breakpoint-down($xs) {
				grid-column-start: 1;
				grid-column-end: 1;
				grid-row-start: 4;
				grid-row-end: 4;
			}
		}
		&-tip {
			grid-column-start: 4;
			grid-column-end: 4;
			grid-row-start: 2;
			grid-row-end: 2;
			@include media-breakpoint-down($xs) {
				grid-column-start: 2;
				grid-column-end: 2;
				grid-row-start: 4;
				grid-row-end: 4;
			}
		}
	}
	&__scaleSetup {
		margin: 5px;
		padding: 5px;
		@include media-breakpoint-down($lg) {
			padding: 10px 0 10px 10px;
			margin: 10px 10px 10px 0;
		}

		border: 1px solid $colorDarkShade25;
		&-scale {
			margin-bottom: 20px;
		}
		&-radiobuttons {
			margin-top: 5px;
		}
		&-IntervalStep {
			display: flex;
		}
		&-step {
			margin-right: 10px;
		}
	}
	&__moveSetup {
		margin: 5px;
		padding: 5px;
		@include media-breakpoint-down($lg) {
			padding: 10px 0 10px 10px;
			margin: 10px 10px 10px 0;
		}

		border: 1px solid $colorDarkShade25;
		display: flex;
		align-items: center;
		& > div {
			margin-right: 10px;
			display: flex;
			align-items: flex-end;
		}
	}
}
