include ../input-field/input-field.pug
include ../toggle/toggle.pug
include ../radiobuttons/radiobuttons.pug
mixin panel(options={})
	-
		let elemName='panel'
		let elemNameMod=elemName + '-' + options.mod
	div(class = elemName + ' ' + elemNameMod)
		fieldset(class = elemName + '__mainSetup')
			legend Main
			div(class = elemName + '__mainSetup-min')
				+input(
										{width: 'narrow',
										labelText: 'min'} 
										)
			div(class = elemName + '__mainSetup-max')
				+input(
										{width: 'narrow',
										labelText: 'max'} 
										)
			div(class = elemName + '__mainSetup-from')
				+input(
										{width: 'narrow',
										labelText: 'from'} 
										)
			div(class = elemName + '__mainSetup-to')
				+input(
										{width: 'narrow',
										labelText: 'to'} 
										)
			div(class = elemName + '__mainSetup-vertical')
				+toggle(
										{name: 'vertical'}
										)
			div(class = elemName + '__mainSetup-range')
				+toggle(
										{name: 'range'}
										)
			div(class = elemName + '__mainSetup-bar')
				+toggle(
										{name: 'bar'}
										)
			div(class = elemName + '__mainSetup-tip')
				+toggle(
										{name: 'tip'}
										)
		fieldset(class = elemName + '__scaleSetup')
			legend Scale
			div(class = elemName + '__scaleSetup-scale')
				+toggle(
										{name: 'scale'}
										)
			span scale base
			div(class = elemName + '__scaleSetup-radiobuttons')
				+radiobuttons({categories:
								{cat1: {name:'steps'}, 
								cat2:{name:'intervals'}},
								radioGroupName: options.radioGroupName})
			div(class = elemName + '__scaleSetup-IntervalStep')
				div(class = elemName + '__scaleSetup-step')
					+input(
											{width: 'narrow',
											labelText: 'step'} 
											)
				div(class = elemName + '__scaleSetup-interval')
					+input(
											{width: 'narrow',
											labelText: 'interval'} 
											)
		fieldset(class = elemName + '__moveSetup')
			legend Control movement
			div(class = elemName + '__moveSetup-sticky')
				+toggle(
										{name: 'sticky'}
										)
			div(class = elemName + '__moveSetup-shiftOnKeyDown')
				+input(
										{width: 'narrow',
										labelText: 'shift on key down'} 
										)
			div(class = elemName + '__moveSetup-shiftOnKeyHold')
				+input(
										{width: 'narrow',
										labelText: 'shift on key hold'} 
										)
		button(class = elemName + '__apply') Применить


