.main-setup {
  margin: 0;
  padding: 10px;
  border: 1px solid $color-border;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, minmax(20%, 110px));
  grid-template-rows: repeat(3, 70px);

  @include media-breakpoint-down($xs) {
    padding: 10px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: initial;
  }

  &__component {
    @include media-breakpoint-down($xs) {
      width: 100%;
      padding-left: 23%;
    }

    @include media-breakpoint-down($xs) {
      padding: 0;
    }
  }
}
