include ../../input-field/input-field.pug
include ../../toggle/toggle.pug

mixin main-setup()
  -
    const elementName = 'main-setup';

    const elements = [{ 
      parameters: {
        usage: 'min'
          }},
      { 
      parameters: {
        usage: 'max'
        }},
      { 
      parameters: {
        usage: 'from'
        }},
      { 
      parameters: {
        usage: 'to'
        }},
      { 
      type: 'toggle',
      parameters:{ 
        usage: 'vertical',
          }},
      { 
      type: 'toggle',
      parameters:{ 
        usage: 'range',
          }},
      { 
      type: 'toggle',
      parameters:{ 
        usage: 'bar',
          }},
      { 
      type: 'toggle',
      parameters:{ 
        usage: 'tip',
        }}];

  fieldset(class = `${elementName} js-${elementName}`)
    legend Main
    each element in elements
      - const {type, parameters} = element
        div(class = `${elementName}__component`)
          if type === 'toggle'
            +toggle(parameters)
          else
            +input-field(parameters)