@import "@styles/glob.scss";

* {
	box-sizing: border-box;
}
:root {
	--background-range: #bc9cff;
}
.wrapper {
	height: 400px;
	//border: 1px solid green;
}
.rs__wrapper {
	//	border: 1px solid blue;
	padding: 60px 30px 30px 60px;
	position: relative;
	display: flex;
}

.rs__slider {
	width: 100%;
	position: relative;
	height: 6px;
	background: #a4a4a4;
	display: flex;
}

.rs__progressBar {
	position: absolute;
	background: var(--background-range, #000);

	width: 95%;
	border: none;
	height: 6px;
	left: 15px;
}

.rs__control {
	width: 1px;
	height: 25px;
	position: absolute;
	background: #bc9cff;
	border-radius: 50%;
	z-index: 1;
	cursor: pointer;

	&::after {
		position: absolute;
		left: -12.5px;
		content: "";
		width: 25px;
		height: 25px;
		//border: 1px solid red;
	}

	&-min::after {
		border: 1px solid blue;
	}
	&-max::after {
		border: 1px solid red;
	}

	&.vertical {
		width: 25px;
		height: 1px;
		&::after {
			position: absolute;
			top: -13px;
			left: 0;
			content: "";
			width: 25px;
			height: 25px;
			//		border: 1px solid blue;
		}
	}
}

.hidden {
	display: none;
}

.rs__value {
	position: absolute;
	top: -30px;
	font-size: 14px;
	width: 30px;
}

.rs__panelWrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	//	border: 1px solid red;
	margin-top: 30px;
	width: 100%;
}

.rs__panel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.rs__input {
	//	border: 1px solid red;
	width: 50px;
}

.rs__slider.vertical {
	height: 100%;
	width: 6px;
	flex-direction: column;
	justify-content: center;
}

.rs__control.vertical {
	left: -9.5px;
}

.rs__control.horizontal {
	top: -12.5px;
}

.rs__wrapper.vertical {
	height: 100%;
	padding: 24px 30px 30px 80px;
}

.rs__progressBar.vertical {
	position: absolute;
	width: 6px;
	border: none;
	left: 0px;
}

.rs__mark {
	height: 5px;
	background-color: #000;
	position: absolute;
}

.rs__mark.no-label {
	background-color: grey;
}

.rs__mark.vertical {
	margin-left: 15px;
	height: 2px;
	width: 5px;
}

.rs__mark.horizontal {
	margin-top: 15px;

	width: 2px;
}
.rs__label.horizontal {
	position: absolute;
	top: 10px;
	padding: 0 5px;
	//	border: 1px solid red;
}

.rs__label.vertical {
	position: absolute;
	left: 10px;
	padding: 5px 0;
	//	border: 1px solid blue;
}
.rs__tip {
	width: 50px;
	height: 25px;
	position: absolute;
	border-radius: 10px;

	background: #bc9cff;
	z-index: 1;
	&-max {
		right: 40%;
		top: -28px;
	}

	&-min {
		left: -40%;
		top: -28px;
	}
}

.rs__tip.vertical {
	left: -55px;
	top: 0;
}

.rs__tip.horizontal {
}
