.button {
  @include font-header;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px;
  color: $color-label;
  background-color: $color-main;
  border: 2px solid $color-label;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {
    background-color: $color-main-active;
  }
}
