include ../../toggle/toggle.pug

mixin actions-setup()
  -
    const blockName = 'actions-setup';
    const {elements} = require('@com/panel/actions-setup/actions-setup.json');

  fieldset(class=`${blockName} js-${blockName}`)
    legend Actions
    each element in elements
      div(class=`${blockName}__component`)
        +toggle(element)
