.actions-setup {
  margin: 0;
  padding: 10px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $color-border;

  @include media-breakpoint-down($lg) {
    flex-direction: row;
    justify-content: space-between;
  }

  @include media-breakpoint-down($xs) {
    padding: 10px 20px 20px;
    min-width: initial;
    flex-direction: column;
  }

  &__component {
    margin-top: 10px;
  }
}
