include ../../toggle/toggle.pug

mixin actions-setup()
  -
    const elementName = 'actions-setup'
    const elements = [{ 
      name: 'subscribe events',
      usage: 'subscribe',
      isChecked: true
      },
      { 
      usage: 'disable'
      },
      { 
      usage: 'destroy'
      }]

  fieldset(class = `${elementName} js-${elementName}`)
    legend Actions
    each element in elements
      div(class = `${elementName}__component`)
        +toggle(element)
