extends ../ui-kit-layout/ui-kit-layout.pug
include ../../components/logo/logo.pug
include ../../components/slider/slider.pug
block title
	title Form Elements
block content 
	div(class='form-elements__logo-wrapper')
		+logo-grey()
	div(class="form-elements")
		+slider({})