include ../../input-field/input-field.pug
include ../../toggle/toggle.pug

mixin control-movement-setup()
  -
    const elementName = 'control-movement-setup';

    const elements = [{ 
      type: 'toggle',
      parameters:{ 
        usage: 'sticky',
        }},
      { 
      parameters: {
        labelText: 'shift on key down',
        usage: 'shiftOnKeyDown'
        }},
      { 
      parameters: {
        labelText: 'shift on key hold',
        usage: 'shiftOnKeyHold'
        }}];

  fieldset(class = `${elementName} js-${elementName}`)
    legend Control movement
    each element in elements
      - const {type, parameters} = element
        div(class = `${elementName}__component`)
          if type === 'toggle'
            +toggle(parameters)
          else
            +input-field(parameters)

