.control-movement-setup {
  border: none;
  margin: 5px;
  padding: 20px;
  border: 1px solid $color-border;
  display: flex;
  align-items: center;

  &__component {
    margin-right: 10px;
    display: flex;
    align-items: flex-end;
  }
}
