.slider-metalamp {
  display: none;

  &__wrapper_tip-mode_hidden &__tip {
    display: none;
  }

  &__wrapper_scale-mode_hidden &__mark {
    opacity: 0;
  }

  &__wrapper_bar-mode_hidden &__progress-bar {
    display: none;
  }

  &__wrapper_orientation_vertical & {
    &__track {
      height: 100%;
      width: 8px;
      flex-direction: column;
      justify-content: center;
    }

    &__progress-bar {
      position: absolute;
      width: 8px;
      border: none;
      left: 0px;
    }

    &__control {
      width: 1px;
      height: 1px;
      top: initial;

      &::after {
        position: absolute;
        content: '';
        width: 25px;
        height: 14px;
      }
    }

    &__tip {
      bottom: initial;
      right: 25px;
    }

    &__mark {
      margin-top: initial;
      margin-left: 15px;
      height: 1px;
      width: 5px;
    }

    &__label {
      position: absolute;
      top: initial;
      left: 10px;
      padding: 5px 0;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    width: 100%;
    touch-action: none;

    &_orientation_vertical {
      width: auto;
      height: 100%;
      display: inline-block;
    }

    &_disabled {
      opacity: 0.5;
    }
  }

  &__track {
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    position: relative;
    height: 8px;
    background: $color-background;
    display: flex;
  }

  &__progress-bar {
    position: absolute;
    background: $color-main;
    width: 95%;
    border: none;
    height: 8px;
    left: 15px;
    border-radius: 3px;
  }

  &__control {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    position: absolute;
    z-index: 30;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus {
      outline-offset: 12px;
      outline: 2px solid $color-text-header;
    }

    &:hover {
      cursor: grab;
    }

    &_grabbing:hover {
      cursor: grabbing;
    }

    &::after {
      background: $color-main;
      position: absolute;
      content: '';
      width: 14px;
      height: 25px;
      border-radius: 10px;
    }
  }

  &__mark {
    height: 5px;
    background-color: $color-text-header;
    position: absolute;
    margin-top: 15px;
    width: 1px;
    cursor: auto;

    &_no-label {
      background-color: $color-label;
      cursor: auto;
    }
  }

  &__label {
    font-family: $fontMain;
    color: $color-label;
    font-size: 10px;
    position: absolute;
    top: 10px;
    padding: 0 5px;
    cursor: pointer;

    &_hidden {
      display: none;
    }
  }

  &__tip {
    cursor: default;
    font-family: $fontMain;
    font-size: 10px;
    color: $color-label;
    height: 25px;
    position: absolute;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    background: $color-main;
    z-index: 1;
    bottom: 25px;
  }
}
