extends ../ui-kit-layout/ui-kit-layout.pug
include ../../components/rangeslider/rangeslider.pug
block title
	title Range Slider
block content 
	main(class='sliderMetaLamp')
		div(class='sliderMetaLamp__wrapper')
			+rangeslider({
				min: '-100',
				max: '100',
				from: '-50',
				to: '50',
				scaleBase: 'interval',
				interval: '20',
				shiftOnKeyHold:'5',
				radioGroupName: 'radio1'
					})

