extends ../ui-kit-layout/ui-kit-layout.pug
include ../../components/rangeslider/rangeslider.pug
block title
	title Range Slider
block content 
	main(class='sliderMetaLamp')
		div(class='sliderMetaLamp__wrapper')
			+rangeslider({
				min: '0',
				max: '100',
				from: '10',
				to: '90',
				step: '25',
				shiftOnKeyHold:'2',
				radioGroupName: 'radio1'
					})

