include ../../components/head/head.pug
include ../../components/range-slider/range-slider.pug

html(lang = 'ru')
head
  title Range Slider
body
  main(class = 'slider-demo')
    div(class='slider-demo__wrapper')
      +range-slider({
        min: '-100',
        max: '100',
        from: '-50',
        to: '50',
        step: '10',
        shiftOnKeyHold:'2',
        radioGroupName: 'range-slider1'
          })
    div(class = 'slider-demo__wrapper')
      +range-slider({
        min: '-150',
        max: '300',
        from: '0',
        to: '150',
        vertical: 'true',
        step:'4',
        shiftOnKeyHold:'5',
        sticky: 'true', 
        radioGroupName: 'range-slider2'
          })
    div(class = 'slider-demo__wrapper')
      +range-slider({
        min: '0',
        max: '10',
        from: '5',
        range: 'false',
        tip: 'false',
        scaleBase: 'interval',
        interval:'30',
        shiftOnKeyHold:'5',
        sticky: 'true',
        radioGroupName: 'range-slider3'
          })
    div(class = 'slider-demo__wrapper')
      +range-slider({
        min: '0',
        max: '10',
        from: '5',
        range: 'false',
        scale: 'false',
        radioGroupName: 'range-slider4'
          })