extends ../ui-kit-layout/ui-kit-layout.pug
include ../../components/rangeslider/rangeslider.pug
block title
	title Range Slider
block content 
	main(class='sliderMetaLamp')
		div(class='sliderMetaLamp__wrapper')
			+rangeslider({
				min: '-100',
				max: '100',
				from: '-50',
				to: '50',
				step: '10',
				shiftOnKeyHold:'2',
				radioGroupName: 'radio1'
					})
		div(class='sliderMetaLamp__wrapper')
			+rangeslider({
				min: '-150',
				max: '300',
				from: '0',
				to: '150',
				vertical: 'true',
				step:'4',
				shiftOnKeyHold:'5',
				sticky: 'true', 
				radioGroupName: 'radio2'
					})
		div(class='sliderMetaLamp__wrapper')
			+rangeslider({
				min: '0',
				max: '10',
				from: '5',
				range: 'false',
				tip: 'false',
				scaleBase: 'interval',
				interval:'30',
				shiftOnKeyHold:'5',
				sticky: 'true',
				radioGroupName: 'radio3'
					})
		div(class='sliderMetaLamp__wrapper')
			+rangeslider({
				min: '0',
				max: '10',
				from: '5',
				range: 'false',
				scale: 'false',
				radioGroupName: 'radio4'
					})

