include ../../components/head/head.pug
include ../../components/range-slider/range-slider.pug

-
  const {
  demoHorizontal,
  demoVertical,
  demoSingle,
  demoNoTip,
    } = require('@pag/index/index.json')

html(lang = 'ru')
head
  title Range Slider
body
  main(class = 'slider-demo')
    div(class='slider-demo__wrapper')
      +range-slider(demoHorizontal)
    div(class = 'slider-demo__wrapper')
      +range-slider(demoVertical)
    div(class = 'slider-demo__wrapper')
      +range-slider(demoSingle)
    div(class = 'slider-demo__wrapper')
      +range-slider(demoNoTip)