head
  meta(charset="utf-8")
  meta(name="viewport" content="initial-scale=1.0, width=device-width")
  meta(name="keywords" content="toxin, отель")
  meta(name="description" content="Бронирование номеров в лучшем отеле 2019 года по версии ассоциации Отельные взгляды")
  meta(property="og:title" content="TOXIN отель")
  meta(property="og:description" content="Бронирование номеров в лучшем отеле 2019 года по версии ассоциации Отельные взгляды")
  meta(property="og:image" content="https://nea2310.github.io/Metalamp-2nd-task/social/social-img.jpg")
  meta(property="og:url" content="https://nea2310.github.io/Metalamp-2nd-task/landing-page.html")
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width")
  link(rel="icon" href= './favicon.ico' sizes="any")
  link(rel="icon" href='./assets/favicons/icon.svg' type="image/svg+xml")
  link(rel="apple-touch-icon" href='./assets/favicons/apple-touch-icon.png')
  link(rel="manifest" href='./assets/favicons/manifest.json')