.radiobuttons {
  padding: 0;
  margin: 0;
  border: none;
  user-select: none;
  width: 220px;

  &__label {
    @include font-header;
    position: relative;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}
