include ../category/category.pug

mixin radiobuttons(options = {})
  -
    const {
      labelText = '',
      categories = [],
      radioGroupName = ''
    } = options;

    const elementName = 'radiobuttons';

  fieldset(class = `${elementName} js-${elementName}`)= labelText
    ul(class = `${elementName}__list`)
      if Array.isArray(categories) && categories.length
        each value in categories
          +category({...value, radioGroupName})