include ./radiobuttons__category.pug

mixin radiobuttons(options = {})
  -
    const {
      labelText = '',
      categories = [],
      radioGroupName = ''
    } = options;

    const blockName = 'radiobuttons';

  fieldset(class=`${blockName} js-${blockName}`)= labelText
    ul(class=`${blockName}__list`)
      if Array.isArray(categories) && categories.length
        each value in categories
          +radiobuttons__category({...value, radioGroupName})