mixin input-field({labelText = '', usage = ''} = {})
  -
    function getValidValue (list, value, defaultValue = '') {
      return value = list.includes(value) ? value : defaultValue
    }
    const elementName = 'input-field'

    const validUsages = ['min', 'max', 'from', 'to', 'step', 'interval', 'shiftOnKeyDown', 'shiftOnKeyHold']
    usage = getValidValue(validUsages, usage, '')

  div(class = elementName)
    label(class = `${elementName}__label`)
      p(class = `${elementName}__label-text`)= labelText
      input(class = `${elementName}__input js-input-${usage}`)





