.input-field {
  user-select: none;
  width: 100%;
  max-width: 100px;
  display: flex;
  flex-direction: column;

  &__input {
    @include font-body;
    outline: none;
    font-weight: normal;
    text-indent: 12px;
    border-radius: 3px;
    border: 1px solid $color-border;
    margin-top: 4px;
    width: 100%;

    &::placeholder {
      color: $color-border;
    }

    &:hover,
    &:focus {
      border-color: $color-label;
    }

    &:disabled {
      background-color: $color-background;
    }
  }
}
