.scale-setup {
  margin: 0;
  border: none;
  padding: 10px;
  border: 1px solid $color-border;

  @include media-breakpoint-down($xs) {
    padding: 10px 20px 20px;
    display: flex;
    flex-direction: column;
  }

  &__component_type {
    &_scale, &_scale-base {
      margin-bottom: 20px;
    }

    &_radiobuttons {
      margin-top: 5px;
    }

    &_interval-step {
      display: flex;
      gap: 20px;

      @include media-breakpoint-down($xs) {
        flex-direction: column;
        gap: 20px;
        padding: 0;
      }
    }
  }
}
