include ../panel/panel.pug
mixin rangeslider(options={})
	-
		let elemName='rangeslider'
	div(class =elemName)
		div(class = elemName + '__rs')
			input(class='rs__root' data-min='2000000' data-max='3000000' 
					data-from='250000' data-to='28'
					data-interval='20' data-shiftonkeydown='10' data-shiftonkeyhold='3' data-sticky='false' data-vertical='true')
		div(class = elemName + '__panel '+ elemName + '__panel-1')
			+panel({radioGroupName: 'horizontal'})
	div(class = elemName)
		div(class = elemName + '__rs')
			input(class='rs__root' data-min='2000000' data-max='3000000' 
					data-from='250000' data-to='28'
					data-interval='20' data-shiftonkeydown='10' data-shiftonkeyhold='3' data-sticky='false' data-vertical='true')
		div(class = elemName + '__panel '+ elemName + '__panel-1')
		div(class = elemName + '__panel '+ elemName + '__panel-2')
			+panel({radioGroupName: 'vertical'})
	div(class = elemName)
		div(class = elemName + '__rs')
			input(class='rs__root' data-scaleBase = 'steps' data-step = '2.5')
		div(class = elemName + '__panel '+ elemName + '__panel-2')
			+panel({radioGroupName: 'vertical1'})