@import "@styles/glob.scss";
.rangeslider {
	padding: 20px;
	margin: 0 auto;
	//	border: 1px solid green;

	&.vertical {
		display: flex;
		height: 500px;
		align-items: center;
		justify-content: space-around;
		@include media-breakpoint-down($sm) {
			display: block;
			height: auto;
		}
	}

	&__rs {
		min-width: 200px;
		//	border: 1px solid red;
		&.vertical {
			margin-right: 20px;
			//	border: 1px solid blue;
			@include media-breakpoint-down($sm) {
				height: 400px;
			}
		}
	}

	&__panel {
		@include media-breakpoint-down($lg) {
			max-width: 540px;
			margin: 20px auto;
		}
		//	border: 1px solid red;
		margin-top: 20px;
		text-align: center;
		&.vertical {
			//	border: 1px solid blue;
		}
	}
}
