include ../panel/panel.pug
mixin rangeslider(options={})
	-
		let elemName='rangeslider'
	div(class =elemName)
		div(class = elemName + '__rs')
			input(class='rs__root' data-min='200000' data-max='300000' 
					data-from='250000' data-tip='false' data-scaleBase = 'interval'
					data-interval='20' data-shiftonkeydown='10' data-shiftonkeyhold='3' data-sticky='false' data-range = 'false' )
		div(class = elemName + '__panel '+ elemName + '__panel-1')
			+panel({radioGroupName: 'horizontal'})
	div(class = elemName)
		div(class = elemName + '__rs')
			input(class='rs__root' data-min='-150' data-max='300' data-tip = 'true'
					data-from='0' data-to='150' data-scaleBase='step' data-vertical='true'
					data-step='15' data-shiftonkeydown='1' data-shiftonkeyhold='3' data-sticky='true')
		div(class = elemName + '__panel '+ elemName + '__panel-2')
			+panel({radioGroupName: 'vertical'})
	div(class = elemName)
		div(class = elemName + '__rs')
			input(class='rs__root')
		div(class = elemName + '__panel '+ elemName + '__panel-3')
			+panel({radioGroupName: 'vertical1'})