include ../panel/panel.pug
mixin rangeslider(options={})
	-
		let elemName='rangeslider'
	div(class =elemName)
		div(class = elemName + '__rs')
			input(class='rs__root' 
			data-min = options.min
			data-max = options.max
			data-from = options.from
			data-to = options.to
			data-vertical = options.vertical
			data-range = options.range
			data-bar = options.bar
			data-tip = options.tip
			data-scale = options.scale
			data-scalebase = options.scaleBase
			data-step = options.step
			data-interval = options.interval
			data-sticky = options.sticky
			data-shiftonkeydown = options.shiftOnKeyDown
			data-shiftonkeyhold = options.shiftOnKeyHold
			)
		div(class = elemName + '__panel')
			+panel({radioGroupName: options.radioGroupName})
