include ../../shared/helpers/getValidValue.pug
  -
    function prepareOptions(options) {
      const {
        usage,
        value, 
        name
      } = options;

      const validUsages = ['vertical', 'range', 'bar', 'tip', 'scale', 'sticky', 'subscribe', 'disable', 'destroy'];
      const usageChecked = getValidValue(validUsages, usage, '');

      return {
        blockName: 'toggle',
        usageChecked,
        valueChecked: value ? value : usageChecked,
        nameChecked: name ? name : usageChecked
      };
    }
