.toggle {
  @include font-body;
  user-select: none;
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  position: relative;

  &__ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    position: absolute;
    background-color: $color-border;
  }

  &__checkbox {
    position: absolute;
    left: 10px;
    width: 25px;
    height: 1px;
    z-index: 0;
    border: 0;
    padding: 0;
  }

  &__checkbox:checked + &__checkmark {
    border: 2px solid $color-main;
  }

  &__checkbox:focus-visible + &__checkmark {
    outline: 2px solid;
  }

  &__checkbox:checked + &__checkmark &__ball {
    background-color: $color-main;
    right: 3px;
    left: auto;
  }

  &__checkbox:disabled + &__checkmark {
    border: 2px solid $color-border;
  }

  &__checkbox:disabled + &__checkmark &__ball {
    background-color: $color-border;
    right: 3px;
    left: auto;
  }

  &__checkmark {
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    position: relative;
    border: 1px solid $color-border;
    width: 38px;
    height: 20px;
    border-radius: 22px;
    background-color: $color-background-light;
  }
}
