.toggle {
  @include font-body;

  position: relative;
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  user-select: none;

  &__ball {
    width: 10px;
    height: 10px;
    background-color: $color-border;
    border-radius: 50%;
  }

  &__checkbox {
    position: absolute;
    left: 10px;
    z-index: 0;
    width: 25px;
    height: 1px;
    padding: 0;
    border: 0;
  }

  &__checkmark {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 38px;
    height: 20px;
    padding: 3px;
    background-color: $color-background-light;
    border: 1px solid $color-border;
    border-radius: 22px;
    cursor: pointer;
  }

  &__checkbox:checked + &__checkmark {
    justify-content: end;
    border: 2px solid $color-main;
  }

  &__checkbox:focus-visible + &__checkmark {
    outline: 2px solid;
  }

  &__checkbox:checked + &__checkmark &__ball {
    background-color: $color-main;
  }

  &__checkbox:disabled + &__checkmark {
    border: 2px solid $color-border;
  }

  &__checkbox:disabled + &__checkmark &__ball {
    background-color: $color-border;
  }
}
