$path: "../fonts/";
$bold: "Montserrat-Bold";
$normal: "Montserrat-Regular";

@font-face {
  font-family: "Montserrat";
  src: 
  url("#{$path}#{$normal}.woff2") format("woff2"),
  url("#{$path}#{$normal}.woff") format("woff"),
  url("#{$path}#{$normal}.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src:
  url("#{$path}#{$bold}.woff2") format("woff2"), 
  url("#{$path}#{$bold}.woff") format("woff"),
  url("#{$path}#{$bold}.ttf") format("truetype");
  font-weight: bold;
}
