$xxs: 320px;
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1400px;
$xl: 1920px;

$color-text-header: #1f2041;
$color-text-main: rgb(31 32 65 / 75%);
$color-label: rgb(31 32 65 / 50%);
$color-border: rgb(222 222 227);
$color-background: rgb(31 32 65 / 15%);
$color-main: #75b7ec;
$color-main-active: #4caeff;
$color-background-light: #fff;

$fontMain: 'Montserrat', arial, helvetica, sans-serif;

@mixin font-header() {
  color: $color-text-header;
  font-weight: bold;
  font-size: 12px;
  font-family: $fontMain;
  line-height: 15px;
  text-transform: uppercase;
}

@mixin font-body() {
  color: $color-text-main;
  font-weight: normal;
  font-size: 14px;
  font-family: $fontMain;
  line-height: 24px;
}

@mixin media-breakpoint-up($width) {
  @media (min-width: ($width + 1)) {
    @content;
  }
}

@mixin media-breakpoint-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-breakpoint-between($min-width, $max-width) {
  @media (min-width: ($min-width + 1)) and (max-width: $max-width) {
    @content;
  }
}
