@import "@styles/glob.scss";
.slider {
	//	margin-left: 20px;
	//border: 1px solid green;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(4, 25%);
	height: 600px;
	width: 100%;

	&__panel {
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 4;
	}
}
.rs__wrapper {
	max-width: 800px;
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 1;
	align-self: center;
	justify-self: center;
}
.rs__wrapper.vertical {
	padding-left: 100px;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 5;
}
