include ../panel/panel.pug
mixin slider(options={})
	-
		let elemName='slider'
	div(class = elemName + '-hor')
		div(class=elemName+'__rs ' + elemName+'__rs-hor')
			span(class='rs__wrapper rs__wrapper-hor')
		div(class = elemName + '__panel')
			+panel({mod: 'horizontal'})
	div(class = elemName + '-vert')
		div(class=elemName+'__rs ' + elemName+'__rs-vert')
			div(class='rs__wrapper rs__wrapper-vert' data-min='-20' data-max='200' data-from='10' data-to='50' data-vertical='false')
		div(class = elemName + '__panel')
			+panel({mod: 'vertical'})