include ../panel/panel.pug
mixin slider(options={})
	-
		let elemName='slider'
	div(class = elemName)
		div(class='wrapper')
			span(class='rs__wrapper rs__wrapper-hor' data-min='-20' data-max='200' data-from='20' data-to='50')
		div(class = elemName + '-panel')
			+panel({mod: 'horizontal'})
		div(class='wrapper vertical')
			div(class='rs__wrapper rs__wrapper-vert')
		div(class = elemName + '-panel')
			+panel({mod: 'vertical'})