include ../panel/panel.pug
mixin slider(options={})
	-
		let elemName='slider'
	div(class = elemName)
		div(class='wrapper')
			div(class='rs__wrapper rs__wrapper-hor')
		div(class = elemName + '-panel')
			+panel({mod: 'horizontal'})
		div(class='wrapper vertical')
			div(class='rs__wrapper rs__wrapper-vert')
		div(class = elemName + '-panel')
			+panel({mod: 'vertical'})